/*BOX SIZING FIX*/
* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Medium.eot');
    src: url('../fonts/subset-Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Medium.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Medium.woff') format('woff'),
        url('../fonts/subset-Roboto-Medium.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Black.eot');
    src: url('../fonts/subset-Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Black.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Black.woff') format('woff'),
        url('../fonts/subset-Roboto-Black.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-BoldItalic.eot');
    src: url('../fonts/subset-Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-BoldItalic.woff2') format('woff2'),
        url('../fonts/subset-Roboto-BoldItalic.woff') format('woff'),
        url('../fonts/subset-Roboto-BoldItalic.ttf') format('truetype'),
        url('../fonts/subset-Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-LightItalic.eot');
    src: url('../fonts/subset-Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-LightItalic.woff2') format('woff2'),
        url('../fonts/subset-Roboto-LightItalic.woff') format('woff'),
        url('../fonts/subset-Roboto-LightItalic.ttf') format('truetype'),
        url('../fonts/subset-Roboto-LightItalic.svg#Roboto-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Regular.eot');
    src: url('../fonts/subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Regular.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Regular.woff') format('woff'),
        url('../fonts/subset-Roboto-Regular.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Bold.eot');
    src: url('../fonts/subset-Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Bold.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Bold.woff') format('woff'),
        url('../fonts/subset-Roboto-Bold.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Italic.eot');
    src: url('../fonts/subset-Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Italic.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Italic.woff') format('woff'),
        url('../fonts/subset-Roboto-Italic.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Italic.svg#Roboto-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Light.eot');
    src: url('../fonts/subset-Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Light.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Light.woff') format('woff'),
        url('../fonts/subset-Roboto-Light.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

strong,b{
    font-weight: bold;
}


/*PADROES*/

.container {
font-family: Roboto;    
width: 1100px;
margin: 0 auto;
padding: 0 30px;
}

body {
background-color: #fff;
color: #000;
font-weight: 300;
font-size: 17px;
line-height: 1.7;
}

h1, h2, h3, h5, figcaption {
font-weight: 500;
margin: 0;
line-height: 1.4em;
}

p {
margin: 0;
}

a {
font-weight: normal;
font-size: 17px;
line-height: 1.4;
text-decoration: none;
color: #000;    
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: baseline;
}



/*INSTITUICOES*/

.instituicoes {
font-size: 13.95px;
text-align: center;
padding: 15px;
line-height: 1.5;
}

#governo {
padding-top: 10px;
padding-bottom: 10px;
width: 100%;
font-weight: 300;
}

#governo p {
margin: 0;	
}


/* CABEÇALHO HOME*/

.header {
font-family: Roboto;
background-image: url(../img/topo/imagemfundo.jpg);
background-size: cover;
background-position: center center;
color: #fff;
top: 40px;
width: 100%;
height: 500px;
}

.header a {
color: #fff;
font-weight: 300;   
text-decoration: none;
}

.header h1 {
font-weight: 300;    
font-size: 35px;
padding-top: 100px;
margin: 0;
}

.header h2 {
font-weight: 300;   
font-size: 25px;
margin-top: 10px;
margin-bottom: 0;
}

.marcaufg {
display: inline-block;
width: 80px;
margin-top: 30px;
}

/*CABEÇALHO CONTEÚDO*/

.menor {
font-family: Roboto;
background-image: url(../img/topo/imagemfundo2.jpg);
background-size: cover;
background-position: center center;
color: #fff;
width: 100%;
height: 170px;
}

.menor a {
color: #fff;
font-weight: 300;   
text-decoration: none;
display: inline-block;
}

.menor h1 {
font-weight: 300;    
font-size: 25px;
margin-top: 0;
}

.menor h2 {
font-weight: 300;   
font-size: 20px;
padding-top: 10px;
margin-bottom: 0;
margin-top: 0;
}

.menor .marcaufg {
display: inline-block;
float: right;
width: 80px;
padding-top: 47px;
margin: 0;
}


/* ÁREA DO CONTEÚDO */

.areaconteudo {
font-weight: 300; 
background-color: #fff;
margin: 0 auto;
padding-top: 70px;
padding-bottom: 100px;
position: relative;
}

.areaconteudo article{
width: 700px;	
}

.areaconteudo img {
position: left;	
}

.areaconteudo h1 {
font-size: 1.8em;  
border-left: 3px solid #642340;
padding-left: 10px;
}

.areaconteudo h2{
font-size: 1.4em;
padding-top: 30px;
}

.areaconteudo h3 {
font-size: 1.2em;
padding-top: 30px;
}

.areaconteudo h5 {
font-size: 1em;
line-height: 23px;
}

.areaconteudo p {
padding-top: 30px;
font-weight: 300;
text-align: left;
}

blockquote {
font-size: 0.9em;
line-height: 1.7em;
}

.areaconteudo a {
color: #642340;
font-weight: normal;
overflow-wrap: break-word;
word-wrap: break-word;
word-break: break-all;
}

.areaconteudo ol {
    padding-top: 30px;
    margin: 0;
}

.areaconteudo li {
line-height: 1.6em;
}

/*NOTAS_DE_RODAPÉ*/

.areaconteudo input[type="checkbox"]{
    position: absolute;
    left: -10000px;
    visibility: hidden;
}

.areaconteudo label{
    width: 4px;
    height: 4px;
    font-size: 0.7em;
    vertical-align: super;
    background-color: #d9d9d9;
    font-weight: bold;
    color: black;
    padding: 1px 4px;
    user-select: none;
}

.areaconteudo .nota-rodape{
    border-top: 3px solid #642340;
    display: none;
    position: absolute;
    font-size: 15px;
    line-height: 23px;
    right: 0;
    width: 250px;
    margin-top: -1em;
    margin-right: 30px;
    color: #000;
    background-color: white;
    z-index: 2;
    padding-top: 15px;
}

.areaconteudo .nota-rodape a {
    color: #642340;
}

.areaconteudo input[type="checkbox"]:checked + label{
    background-color: #642340;
    color: white;
}

.areaconteudo input[type="checkbox"]:checked + label + .nota-rodape{
    display: block;
}



/*CURRICULO*/
.boxcurriculo {
border: 3px solid #642340; 
color: #000;
padding: 15px;
padding-left: 30px;
margin: 30px 0;
word-break: break-word;
}

.boxcurriculo h1 {
border: none;
padding: 0;
font-size: 1.4em;
}




/*AUTORES*/

.infodireita {
float: right;
width: 250px;
margin-top: 93px;
margin-bottom: 30px;
}

.infodireita .secao {
color: #000;
font-weight: 500;
}

.autores {
border: 3px solid #642340;
color: #642340;
padding: 20px;
font-size: 18px;
line-height: 30px;
width: 100%;
margin-top: 15px;
}

.autores span {
display: block;
/*text-align: right;*/
}

.infodireita .pdf {
font-size: 15px;
background-color: #000;
float: right;
color: #fff;
margin-top: 20px;
padding: 10px;
text-align: center;
font-weight: normal;
width: 100%;
}

.pdf:hover {
background-color: #642340;
cursor: pointer;
}


/*IMAGENS*/

figure {
padding-top: 10px;
margin: 0;
}

figure img {
width: auto;
max-width: 100%;
max-height: 680px;
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
padding-bottom: 5px;
}

figure figcaption {
text-align: left;
padding-bottom: 20px;
}

figure.galeria {
text-align: center;
width: 100%;    
}

figure.galeria img {
display: inline-block;
margin: 2px;
max-width: 100%;    
}

/*TABELA*/

table {
border-collapse: collapse;
width: 100%;
margin: 40px 0;	
color: #000;
}

tbody {
border-bottom: 4px solid #642340;   
}

th, td {
font-family: Roboto;
font-size: 15px;
text-align: left;
line-height: 20px;
}

th {
font-weight: normal;
background-color: #642340;
border-bottom: 4px solid #642340;
padding: 10px;
color: #fff;
}

td{
font-weight: 300;
border-bottom: 1px solid #000;
color: #000;
padding: 10px;
}

table caption {
font-weight: 500;
text-align: left;
letter-spacing: 0.5px;
text-transform: uppercase;
font-size: 14px;
padding-bottom:	10px;
color: #212121;
}


/*PAGINAÇÃO*/

.pagina {
display: block;
width:  100%;
border-bottom: 1px solid #642340;	
padding-top: 20px;
margin-bottom: 20px;
color: #642340;
font-size: 1.4em;
text-align: right;
}




/*RODAPÉ*/

footer {
background-image: url(../img/rdape.jpg);
background-color: #642340;
padding-top: 15px;
padding-bottom: 12px;
font-family: Roboto-Regular;
letter-spacing: 1px;
font-size: 17px;
text-transform: uppercase;
text-shadow: #000 1px 2px 1px;
position: fixed;
bottom:0;
width:100%;
}

footer a {
text-decoration: none;	
color: #ffffff;
font-size: 15px;
text-shadow: #000 1px 2px 1px;
}

.esquerda{
padding-right: 40px;
}

.direita {
float: right;
padding-left: 40px;
}
 
/*SUMÁRIO*/

#botoes {
display: inline-block;
background-color: #fff;
margin-top: 100px;
margin-bottom: 40px;
width: 100%
}

#botoes2 {
display: flex;
flex-wrap: wrap;
background-color: #fff;
margin-top: 100px;
margin-bottom: 40px;
width: 50%
}

#botoes a {
font-weight: normal;
font-size: 20px;
margin-right: 40px;	
text-decoration: none;
text-transform: uppercase;
color: #000;
border-top: 5px solid #642340;
padding: 10px 30px 20px 0;
}

#botoes a:hover {
border-top: 5px solid #000;
cursor: pointer;
}



#sumario h1 {
font-size: 40px;
font-weight: 500;
color: #642340;
margin: 0;
padding-top: 30px;
}

#sumario h2 {
font-size: 25px;
font-weight: 500;
color: #000;  
margin: 0;
padding: 7px 0 40px 0;  
}

#sumario a {
display: inline-block;
/*font-weight: normal;*/
/*text-decoration: none;*/
/*font-size: 23px;*/
font-size: 1.2em;
padding: 20px 20px 20px 0;
/*color: #000;*/
border-top: 5px solid #642340;
margin-left: 40px;	
margin-bottom: 40px;
width: calc(33% - 40px);
vertical-align: top;
}

#sumario a:hover {
    border-top: 5px solid #000;
    cursor: pointer;
}

#sumario section a:nth-of-type(3n-2) {
margin-left: 0;
}

#sumario a span {
font-weight: 500;
line-height: 1.4em;
display: block;
font-size: 0.7em;
padding-top: 20px;
}

#fimficha {
background-color: #bba1ad;
}

.containerficha{
    font-size: 0.9em;
    font-weight: 300;
    text-decoration: none;
    padding-top: 40px;
    padding-bottom: 60px;
    font-family: Roboto;
    width: 1100px;
    margin: 0 auto;
    text-align: center;

}


/*FICHA TÉCNICA*/

.ficha {
border-top: 5px solid #642340;
padding-bottom: 70px;
}

.iniciar {
font-size: 0.8em;
font-weight: normal;
text-transform: uppercase;
color: #fff;
background-color: #000;
width: 215px;
text-align: center;
margin-top: 0;
margin-bottom: 25px;
padding: 10px;
margin-right: 30px;
}

.iniciar a {
text-decoration: none;
color: #fff;
}

.iniciar:hover {
background-color: #642340 !important;
color: #000;
cursor: pointer;
font-weight: 300;
}


.imprimir {
font-size: 0.8em;
font-weight: normal;
text-transform: uppercase;
color: #fff;
background-color: #000;
width: 215px;
text-align: center;
margin-top: 0;
margin-bottom: 25px;
padding: 10px;
}

.imprimir a {
text-decoration: none;
color: #fff;
}

.imprimir:hover {
background-color: #642340 !important;
color: #000;
cursor: pointer;
font-weight: 300;
}

.ficha h1 { 
font-size: 1.2em;  
text-transform: uppercase;
font-weight: normal;
padding-top: 15px; 
/*padding-bottopm: 10px; */
}

.ficha h2 {
font-size: 1em;
padding-top: 20px;
}

.ficha p, .ficha a {
font-size: 1em;
font-weight: 300;
text-decoration: none;
padding-top: 10px;
}

.ficha a:hover {
font-weight: 500;    
font-size: 1em;
}

.realizadores {
display: block;
margin-top: 50px;
width: 600px;
/*height: 70px;*/
}

.marcaciar {
height: 50px;
padding-top: 10px;
}

.box {
border: 1px solid #642340;
width: 700px;
padding: 15px;
font-size: 16px;

font-weight: 300;
align-items: left;
margin-bottom: 10px;
word-break: break-word;
}

.isbn {
margin-bottom: 60px;    
}

.isbn h1{
font-weight: normal;
font-size: 18px;
padding-bottom: 10px;
}

.isbn p a{
line-height: 25px;
width: 70%; 
color: #005d83;
text-decoration: none;   
}


.isbn table {
border-collapse: separate;
margin: 0;
}

.isbn th {
background-color: #fff;
padding: 0;
}

.isbn td {
border-bottom: none;
vertical-align: super;
}
























